@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}


.box {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/462582233_1321260119074909_6782253553122486013_n.jpg?stp=dst-jpg_p480x480_tt6&_nc_cat=101&ccb=1-7&_nc_sid=0024fc&_nc_ohc=O1eLhiphgV8Q7kNvgG_Y_lX&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1gG9k5YatiVW6COskoxPJAMHjrJRlVyOyRwQQsDXCtTPMw&oe=6795A3BB");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box .title {
  color: red;
  font-size: 60px;
}

.box .content {
  color: red;
  font-size: 50px;
}

@media (max-width: 575.98px) {
  .box .title {
    color: pink;
    font-size: 30px;
  }

  .box .content {
    color: pink;
    font-size: 20px;
  }
}